[package]
name = "kafka-source"
group = "infinyon"
version = "0.2.7"
apiVersion = "0.1.0"
fluvio = "0.11.5"
description = "Kafka source connector"
license = "Apache-2.0"
visibility = "public"

[direction]
source = true

[deployment]
binary = "kafka-source"

[custom]
name = "kafka"
required = ["url", "topic"]

[custom.properties.url]
title = "Url"
description = "A Comma separated list of the kafka brokers to connect to"
type = "string"

[custom.properties.topic]
title = "Topic"
description = "The kafka topic to use"
type = "string"

[custom.properties.partition]
title = "Partition"
description = "The kafka partition to use"
type = "integer"

[custom.properties.group]
title = "Group"
description = "Kafka consumer group"
type = "string"
